body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 1219px;
    height: 84px;
    background-color: #007765;
}


.in_header {
    display: inline-block;
    vertical-align: center;
}

.in_header > .logo {
    margin-top: 20px;
    margin-left: 55px;
}

.in_header > .text1 {
    margin-top: 28px;
    margin-left: 502px;
}




/* 
.jumbotron {
    display: block;
    
    width: 1500px;
    height: 403px;
    background-image: url(images/image.png);
}

.the_problem {
    display: block;
    width: 100%;
    height: 719px;
    background-color: #EEEEEE;
}

.hero {
    display: block;
    width: 100%;
    height: 483px;
    background-image: url(images/image2.png);
}

.ppc {
    display: block;
    width: 100%;
    height: 604px;
    background-image: url(images/image2.png);
}

.the_team {
    display: block;
    width: 100%;
    height: 845px;
    background-color: #EEEEEE;
}

.footer {
    display: block;
    width: 100%;
    height: 176px;
    background-color: #333333;
} */